*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: rgb(18, 18, 82);
    display: flex;
    justify-content: center;
    place-items: center;
}
.calculadora{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.pantalla{
    grid-column: 1/-1;
    background-color: rgb(54, 53, 53);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.botones{
    background-color: rgb(54, 53, 53);
    color: white;
    border:0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

#borrar{
    background-color: rgb(231, 46, 46);
    grid-column: span 2;
    font-size: larger;
}
#borrar:hover{
    background-color: rgb(196, 7, 7);
}
#cero{
    grid-column: span 2;
    
}
#sumar{
    background-color: orange;
    font-size: larger;
}
#sumar:hover{
    background-color: rgb(241, 194, 106);
}
#dividir{
    background-color: orange;
    font-size: larger;
}
#dividir:hover{
    background-color: rgb(241, 194, 106);
}
#multiplicar{
    background-color: orange;
    font-size: larger;
}
#multiplicar:hover{
    background-color: rgb(241, 194, 106);
}
#restar{
    background-color: orange;
    font-size: larger;
}
#restar:hover{
    background-color: rgb(241, 194, 106);
}
#igual{
    background-color: green;
    font-size: larger;
}
  #igual:hover{
    background-color: rgb(2, 61, 2);
  }
.botones:hover{
    background-color: rgba(126, 118, 120, 0.336);
}
#DEL{
    background-color: orange;
    font-size: larger;
}
#DEL:hover{
    background-color: rgb(241, 194, 106);
}