
body {
    background-color: #f8f8f8;
    font-family: 'Georgia', serif; 
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background-color: #990000; 
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em;
    margin: 0 0 15px 0;
    font-family: 'Verdana', sans-serif;
}

.menu-navegacion a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 8px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s, border-bottom-color 0.3s;
    font-weight: bold;
}

.menu-navegacion a:hover {
    background-color: #b30000;
    border-bottom-color: white;
}


main {
    max-width: 900px;
    margin: 30px auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #cc4400; 
    text-align: center;
    border-bottom: 3px double #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 2em;
}

h3 {
    color: #555;
    border-left: 5px solid #ffaa00;
    padding-left: 15px;
    margin-top: 35px;
    margin-bottom: 15px;
}


ul, ol {
    padding-left: 20px;
}

ul li {
    list-style: disc inside;
}

ol li {
    font-weight: bold; 
    margin-bottom: 15px;
}

ol li span {
    font-weight: normal; 
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 5px solid #eee;
    border-radius: 5px;
}


.descarga {
    text-align: center;
    margin-top: 30px;
}

.descarga a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #0066cc;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.descarga a:hover {
    background-color: #0066cc;
    color: white;
}